### Week 4 Part 2

Section 1

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
MV_users = pd.read_csv('data/users.csv')
MV_movies = pd.read_csv('data/movies.csv')
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [25]:
test.head()

    uID   mID  rating
0  2233   440       4
1  4274   587       5
2  2498   454       3
3  2868  2336       5
4  1636  2686       5

In [12]:
movies = MV_movies.drop(columns=['mID', 'title', 'year'])
movies.head()

,Doc,Com,Hor,Adv,Wes,Dra,Ani,War,Chi,Cri,Thr,Sci,Mys,Rom,Fil,Fan,Act,Mus
0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
def label_permute_compare(ytdf,yp):
    """
    ytdf: labels dataframe object
    yp: clustering label prediction output
    Returns permuted label order and accuracy. 
    {3:'business', 4:'entertainment', 1:'politics', 2:'sport', 0:'tech'}, 0.74
    """
    y_true = np.array(ytdf).reshape(-1)
    uniq_labels = np.unique(y_true)
    perm = itertools.permutations(range(len(uniq_labels)))
    best_p, best_acc = None, 0
    for p in perm:
        p_label_map = {label: int_label for label, int_label in zip(uniq_labels, p)}
        p_labels = np.array([p_label_map[label] for label in y_true])
        acc = np.mean(p_labels == yp)
        if acc > best_acc:
            best_p = {num: l for num, l in zip(p, uniq_labels)}
            best_acc = acc
    return best_p, best_acc

In [24]:
train

         uID   mID  rating
0        744  1210       5
1       3040  1584       4
2       1451  1293       5
3       5455  3176       2
4       2507  3074       5
...      ...   ...     ...
700141  1184  2916       3
700142   137  1372       5
700143   195  2514       3
700144  1676  2566       3
700145  4611  1888       1

[700146 rows x 3 columns]

In [26]:
nmf = NMF(n_components=5, random_state=11)
nmf.fit(movies)
y_pred = np.array([np.argmax(i) for i in nmf.transform(movies)])
#label_map, acc = label_permute_compare(train.Category, y_pred)
#print("Train Accuracy:", acc)

mean_squared_error(train.rating[:3883], y_pred, squared=False)

2.628123027258697

Section 2

The NMF model did not work as well as the similarity based methods because the ratings were given for movies with binary data representing the topics by encoding. If we represent the topics in another way, perhaps with lists of desciptors for each topic the model could use sentiment analysis.